body {
  font-family: 'Chaney Ultra Extended';
  background-color:rgba(41, 33, 57, 0.694);

}

.common-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }



.common-button {
    font-family: 'Chaney Ultra Extended';
    background-color: white;
    font-size: 15px;
    padding: 7px;
    border: none;
    cursor: pointer;
    color: black;
    transition: background 0.3s;
}

.common-space-left {
  margin-right: 10px;
}

.vote-button {
    font-family: 'Chaney Ultra Extended';
    background-color: white;
    font-size: 15px;
    padding: 7px;
    border: 2px solid black;
    cursor: pointer;
    color: black;
    transition: background 0.3s;
    
}

.common-button:hover {
    background-color: rgba(245, 245, 245, 0.671);
}

.component-spacing {
    margin-bottom: 35px; 
}

.vote-container  {
  height: 350px;
  width: 70%;
  display: flex;
  margin : 20px;
}

.vote-team-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.vote-team-imageSize {
  width: 150px;
  height: 150px;
}